$es-blue: #01AEF0;

nav.es-nav-theme {
  background-color: $es-blue;
  color:white;
  margin-bottom:0;
}

nav.es-nav-theme a {
  color:white;
}

nav.es-nav-theme .nav > li > a:hover, nav.es-nav-theme .nav > li > a:focus {
  background-color: darken($es-blue, 5%) !important;
  color: white !important;
}

nav.es-nav-theme .navbar-nav > li > a {
  padding-left:50px ;
  padding-right:50px;
}

.navbar-header{
  margin-right:30px;
}

.navbar-header > button > span.icon-bar {
  background-color: white;
}